/EJB_struts/EJB_struts-ejb/build/
/EJB_struts/EJB_struts-war-2/build/
/EJB_struts/EJB_struts-ejb/dist/
/EJB_struts/build/
/EJB_struts/EJB_struts-war-2/dist/
/EJB_struts/EJB_struts-war/build/
/EJB_struts/EJB_struts-war/dist/
/EJB_struts/dist/