tr.text_middle td{
	vertical-align: middle !important;
}
#lapVeModal .tr_header{
	color: rgb(255, 255, 255);
	background-color: rgb(36, 97, 170);
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}
#lapVeModal table tr td{
	border: none;
}
#lapVeModal .car_chart{
	border: 1px #f1f1f1 solid;
    background: #fbfbfb;
}
#lapVeModal table{
	margin-bottom: 0;
}
#lapVeModal .car_chart tr td{
	padding: 4px 8px;
}

.text_icon_seat{
	position: absolute;
	top: -25px;
	left: -10px;
	right: -10px;
	background-color: black;
	border-radius: 5px;
	color: white;
	text-align: center;
	z-index: 99;
	display: none;
}
.text_icon_seat::before{
	position: absolute;
	bottom: -5px;
	left: 40%;
	background-color: black;
	content: " ";
	height: 10px;
	width: 10px;
	transform: rotate(45deg);
	z-index: -99;
}
.link_icon_seat{
	position:relative;
}
a.link_icon_seat:hover > .text_icon_seat{
	display: initial;
}
.icon_seat{
	width: 50px;
	height: 20px;
	background-color: white;
}
.seat_selected{
	background-color: #C8C8C8;
}
.seat_selecting{
	background-color: rgb(186, 223, 65);
}
#placeSeat  .car_chart:first-child{
	margin-bottom: 10px;
}