body {
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    background-color: lavender;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.wrapper {
    width: 1100px;
    margin: auto;
    background-color: white;
}
#header{
    
}
#content{

}
img{
    width:100%;
    height:auto;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.banner{
    height:190px;
    width:100%;
}

#navigation {
    height: 45px;
    background: linear-gradient(to top, #c2bcb5, #ffffff);
}

#nav {
    display: block;
    list-style: none;
    text-align: center;
}

#nav ul {
    display: none;
    list-style: none;
}

#nav li {
    float: left;
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #FFFFFF;
}

#nav a:link, #nav a :visited, #nav a:active {
    display: block;
    color: #574c3f;
    text-decoration: none;
}

#nav a:hover {
    background-color: white;
}

.item{
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75); 
    margin: 10px 0px;
}

.productImage{
    width:150px;
    height:150px;
    vertical-align:central;
    padding:10px;
    border-radius:50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin:auto;
}
.productName{
    font-size:18px;
    font-weight:bold;
    text-align:center;
}
.productPrice{
    font-family: Arial, Arial, Helvetica, sans-serif;
    color:#ffb600;
    text-align:center;
}