<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- Sitemesh-->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>
            com.opensymphony.module.sitemesh.filter.PageFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- -->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
        </taglib>
    </jsp-config>
     <ejb-local-ref>
        <ejb-ref-name>TblbenxeFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblbenxeFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblbaocaodoanhthuchuyendiFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblbaocaodoanhthuchuyendiFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblbaocaodoanhthunamFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblbaocaodoanhthunamFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblbaocaodoanhthuthangFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblbaocaodoanhthuthangFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblchitietphieudatchoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblchitietphieudatchoFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblchitiettuyenFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblchitiettuyenFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblchuyendiFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblchuyendiFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblloaixeFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblloaixeFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblphanquyenFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblphanquyenFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblphieudatchoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblphieudatchoFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblthamsoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblthamsoFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TbltuyenxeFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TbltuyenxeFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TblxekhachFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TblxekhachFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TbltaikhoanFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.TbltaikhoanFacadeLocal</local>
    </ejb-local-ref>
</web-app>
